<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Connection Management System</h1>
        <div class="list-group mt-4">
            <!-- Activate Connection -->
            <a th:href="@{/add-connection}" class="list-group-item list-group-item-action">
                Activate Connection
            </a>
            
            <!-- Upgrade Connection by Connection ID -->
            <a th:href="@{/upgrade-connection}" class="list-group-item list-group-item-action">
                Upgrade Connection by Connection ID
            </a>
            
            <!-- Delete Connection by Connection ID -->
            <a th:href="@{/delete-connection}" class="list-group-item list-group-item-action">
                Delete Connection by Connection ID
            </a>
            
            <!-- View All Connections -->
            <a th:href="@{/view-all-connections}" class="list-group-item list-group-item-action">
                View All Connections
            </a>
            
            <!-- View Connection by Connection ID -->
            <a th:href="@{/viewconnectionbyId}" class="list-group-item list-group-item-action">
                View Connection by Connection ID
            </a>

            <!-- Add New Outlet -->
            <a th:href="@{/add-outlet}" class="list-group-item list-group-item-action">
                Add New Outlet
            </a>

            <!-- View All Outlets -->
            <a th:href="@{/view-all-outlets}" class="list-group-item list-group-item-action">
                View All Outlets
            </a>

            <!-- Find Nearest Outlet -->
            <a th:href="@{/nearest}" class="list-group-item list-group-item-action">
                Find Nearest Outlet
            </a>

            <!-- View Connection Logs -->
            <a th:href="@{/view-all-connectionLogs}" class="list-group-item list-group-item-action">
                View All Connection Logs
            </a>

            <!-- View Connection Log by Connection ID -->
            <a th:href="@{/view-connectionLog-by-connectionId}" class="list-group-item list-group-item-action">
                View Connection Log by Connection ID
            </a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
